
<div class="container">
  <h2>Edit profile</h2>
  <div class="row">
    <div class="col-md-4">
      <!--Current User Photo
       			 <img src={{user.photoUrl}} alt={{user.name}}>-->
      <form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image-input">Image:</label>
          <input type="file" name="image" id="image-input" class="form-control-file" />
          <input type="text" name="existingImage" hidden id="" value="{{user.photoUrl}}">
        </div>
        <button type="submit" class="btn btn-success">Upload photo</button>
      </form>
    </div>
    <div class="col-md-6">  
      <form action= method="POST"></form>
        <div class="form-group">
            <label for="first name">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.name.firstName}}">
          </div>
        <div class="form-group">
            <label for="last name">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="{{user.name.lastName}}">
          </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
<<<<<<< HEAD
            <input type="password" class="form-control" id="password" name="password" value="{{user.password}}">
=======
            <input type="text" name="password" id="password-input" value="{{user.password}}" />  
              --}}
          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"> Save changes </button>

        </form>

          <div class="btn-group" style="border: 2px solid blue">
            <form action="/auth/profile/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile?');">
                <button class="btn btn-lg btn-outline-primary  mt-3" type="submit">Delete</button>
            </form>
>>>>>>> 2cb0215c50ebad9d890ce467ead25e508e58661e
          </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3"> Saved changes</button>
      </form>
        <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Delete</a></li>
        </ul>
    </div> 
  </div>    


      

  
    
      
   





