
<div class="container-profile-edit"> 
	<div class="container-profile">
		<div class="profile">
			<div class="profile-image">
       			 <img src={{user.photoUrl}} alt={{user.name}}>
				  <h1 class="profile-user-name">{{user.firstName}} {{user.lastName}}</h1>
      </div>
      <div class="profile-user-settings">
        <form action="/auth/profile/edit" method="POST">

            <label for="first name">First Name:</label>
            <input type="text" name="firstName" id="first-name-input" value="{{user.name.firstName}}"class="form-control mt-2"/>

            <label for="first name">Last Name:</label>
            <input type="text" name="lastName" id="last-name-input" value="{{user.name.lastName}}"class="form-control mt-2"/>

            <label for="last name">Email:</label>
            <input type="text" name="email" id="email-input" value={{user.email}} class="form-control mt-2"/>
{{!-- 
            <label for="password">Password:</label>
            <input type="text" name="password" id="password-input" value="{{user.password}}" />  
              --}}
          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"> Save changes </button>

        </form>

          <div class="btn-group" style="border: 2px solid blue">
            <form action="/auth/profile/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile?');">
                <button class="btn btn-lg btn-outline-primary  mt-3" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div> 
  </div> 
</div> 








