<header>
	<div class="container-profile">
		<div class="profile">
			<div class="profile-image">
       			 <img src={{user.photoUrl}} alt={{user.name}}>
        <div class="profile-user-settings"></div>
				 <h1 class="profile-user-name">{{user.name.firstName}} {{user.name.lastName}}</h1>
            <form action="/auth/profile/edit" method="get">
                <button class="btn profile-edit-btn" type="submit">Edit Profile</button>
            </form>	
            <form action="/auth/profile/logout" method="post" onsubmit="return confirm('Are you sure you want to log out?');">
                <button class="btn profile-edit-btn" type="submit" >Logout</button>
            </form>	
        </div>    
		</div>			
	</div>
</header>
<main>
<div class="row">
<h2>{{user.name.firstName}} {{user.name.lastName}} has attended past events: </h2>
  {{#each user.eventsAttending}}
    <div class="col-sm-4">
      <div id="img-box">
        <a href='/events/{{this._id}}'>
        <img src={{this.photoUrl}}/>
        </a>
      </div>
      <h3>{{this.name}}</h3>
    </div>
  {{/each}}
</div>   
<h2>{{user.firstName}} {{user.lastName}} is going to attend the following events: </h2>
<div class="row">
  {{#each events}}
    <div class="col-sm-4">
      <div id="img-box">
        <a href='/events/{{_id}}/events'>
        <img src={{this.photoUrl}}/>
        </a>
      </div>
      <h3>{{this.name}}</h3>
    </div>
  {{/each}}
</div>   
</main>
	
	