<div class="container">
   <div class="row">
        <div class="col-md-6 img"> 
          <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" class="img-rounded">
          <img src={{user.photoUrl}} alt={{user.name}} class="profile-image">
        </div>
        <div class="col-md-6 details">
          <blockquote>
            <h5>{{user.firstName}} {{user.lastName}} Alice Appears Please! <h5 class="profile-user-name">
          </blockquote>
          <form action="/auth/profile/edit" method="get">
            <button class="btn profile-edit-btn">Edit Profile</button>
          </form>	
          <form action="/auth/profile/logout" method="post" onsubmit="return confirm('Are you sure you want to log out?');">
            <button class="btn btn-lg btn-outline-primary" type="submit">Logout</button>
          </form>
        </div>
        <h3 class="h3-responsive"> has attended the following events <h3>
  </div>
</div>
   <div class="row">
          {{#each user.eventsAttending}}
            <div class="col-sm-4">
              <div id="img-box">
                <a href='/events/{{this._id}}'>
                <img src={{this.photoUrl}}/>
                </a>
              </div>
              <h3>{{this.name}}</h3>
            </div>
          {{/each}}
  </div>
      <!--<h3>{{user.name.firstName}} {{user.name.lastName}} is going to attend the following events:</h3>-->
      <h3 class="h3-responsive"> is going to attend the following events: </h3>
    <div class="row">
          {{#each events}}
            <div class="col-sm-4">
            <div class="alignleft"> 
              <div id="img-box">
                <a href='/events/{{_id}}/events'>
                <img src={{this.photoUrl}}/>
                </a>
              </div>
              <h3>{{this.name}}</h3>
            </div>
          {{/each}}
      </div>         



  

<!--
<section class="container mt-4 mb-4">
<div class="container">
	<div class="row mb-3">
		<div class="col-md-6">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
	  			    <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" />
	  				
	  			</div>
	  			<div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
	  					<h4 class="text-primary">Leanne Boulton</h4>
	  					<h5 class="text-info">Photographer</h5>
	  					<ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
	  						<li><i class="fab fa-facebook-square"></i> Facebook</li>
	  						<li><i class="fab fa-twitter-square"></i> Twitter</li>
	  					</ul>
						<p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
				</div>
			</div>
		</div>
    <!--
<header>
	<div class="container-profile">
		<div class="profile">
			<div class="profile-image">
       			 <img src={{user.photoUrl}} alt={{user.name}}>
        <div class="profile-user-settings"></div>
				 <h1 class="profile-user-name">{{user.name.firstName}} {{user.name.lastName}}</h1>
            <form action="/auth/profile/edit" method="get">
                <button class="btn profile-edit-btn" type="submit">Edit Profile</button>
            </form>	
            <form action="/auth/profile/logout" method="post" onsubmit="return confirm('Are you sure you want to log out?');">
                <button class="btn profile-edit-btn" type="submit" >Logout</button>
            </form>	
        </div>    
		</div>			
	</div>
</div>
</section>-->


	
	