<div class="main-container">
  <h2>{{type}} Events</h2>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6">
        <a type="button" class="btn btn-outline-secondary" href="/events/create">Create</a><br>
      </div>
      <div class="col-sm-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter by type
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/events/art">Art</a>
            <a class="dropdown-item" href="/events/culture">Culture</a>
            <a class="dropdown-item" href="/events/food">Food</a>
            <a class="dropdown-item" href="/events/games">Games</a>
            <a class="dropdown-item" href="/events/music">Music</a>
            <a class="dropdown-item" href="/events/networking">Networking</a>
            <a class="dropdown-item" href="/events/outdoor">Outdoor</a>
            <a class="dropdown-item" href="/events/sport">Sport</a>
            <a class="dropdown-item" href="/events/tech">Tech</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!--Events list-->
  <div class="container">
    <div class="row">
      {{#each events}}
      <div class="col-sm-4">
        <div id="img-box">
          <a href='/events/{{this._id}}'>
            <img src={{this.photoUrl}} alt={{name}} />
          </a>
        </div>
        <h3 class="text-center my-3">{{this.name}}</h3>
      </div>
      {{/each}}
    </div>
  </div>
</div>