{{!-- events-details.hbs --}}

<h1>{{title}}</h1>
<hr>
<button type="submit">Book</button>
<button type="submit">Edit</button>
<button type="submit">Cancel</button>

<p>Event Name: {{name}}</p>
<p>Date and Time:{{date}}</p>
<p>Description: {{description}}</p>
<p>Event Type: {{type}}</p>
<p>Location: {{location}}</p>
<p>Host: {{host}}</p>
<p>Attendees: {{attendees}}</p>
<hr>
<a href="/events">Back</a>