{{!-- events-details.hbs --}}

<h1>{{name}}</h1>
<hr>

<form action='/events/{{_id}}' method='post'>
    <button type="submit">Book</button> 
</form>


<a href="/events/{{_id}}/edit">Edit</a>

{{!-- <button type="submit">Cancel</button> --}}

<p>Event Name: {{name}}</p>
<p>Date and Time:{{date}}</p>
<p>Description: {{description}}</p>
<p>Event Type: {{type}}</p>
<p>Location: {{location}}</p>
<p>Host: {{host.name.firstName}} {{host.name.lastName}}</p>
<p>Attendees: {{#each attendees}}
    {{name.firstName}} {{name.lastName}}
    {{/each}}</p>
<hr>
<a href="/events">Back</a>