<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{city.name}}</h1>
      </div>
    </div>
    <hr>

    {{#if events}}
    <div class="row">
      {{#each events}}
      <div class="col-sm-4">
        <div id="img-box">
          <a href='/events/{{_id}}'>
            <img src={{photoUrl}} alt={{name}}>
          </a>
        </div>
         <h4 id="event-title" class="text-center my-3">{{this.name}}</h4>
      </div>
      {{/each}}
    </div>
    {{else}}
    <h3 class="text-center">Looks like there's nothing happening yet, why don't you <a href="/events/create">host an event</a>?</h3>
    {{/if}}
  </div>
</div>